body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav,.hero,.footer{
    background-color: #1F2937;
    width: 100%;
}

.nav ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.nav {
    display: flex;
    color: #F9FAF8;
    justify-content: space-around;

}

.nav p {
    font-weight: 700;
}

.hero{
    display: flex;
    padding: 50px;
    justify-content: center;
    gap: 20px;
}

.hero img {
    height: 150px;
    width: 500px;
    max-width: 40%;
}

.hero h1 {
    color: #F9FAF8;
    font-weight:bolder;
    font-size: 48px;
    margin-bottom: 0px;
}
.hero p {
    margin-top: 0px;
    color: #F9FAF8;
    flex: 1;
}

.hero button {
    color: #F9FAF8;
    background-color: #3882f6;
    border-color: #3882f6;
    border-radius: 10px;
    width: 100px;
    height: 40px;
}

.separator {
    justify-content: flex-start;
    max-width: 40%;
}

.cube {
    border-style: solid;
    border-color: #3882f6;
    border-width: 5px;
    border-radius: 10px;
    height: 150px;
    width: 150px;
}
#boxes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.content-box{
    max-width: 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.information{
    width: 100%;
    height: 450px ;
    
}

.information h2{
    margin-bottom: 50px;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.content-box{
    text-align: justify;
}